{# Use google charts on MEGUA  

 Pie chart.

How it works: this template parameters are substituted by values
and the resulting string written on the problem text.

Parameters:

'chartid' like 'chart1'

'valueslist' of the form
[
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
]

'title' like 'How Much Pizza I Ate Last Night'

'width' like 400

'height' like 300

#}


<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows( {{valueslist}} );

        // Set chart options
        var options = { 'title':  "{{title}}",
                        'width':  {{width}},
                        'height': {{height}}  };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('{{chartid}}'));
        chart.draw(data, options);
      }
</script>

<!--Div that will hold the pie chart-->
<div id="{{chartid}}"></div>



